<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_IDIService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/DIService"
          binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_IDIService"
          contract="WCF.DependencyInjection.Contracts.IDIService" name="wsHttpBinding_IDIService" />
    </client>
  </system.serviceModel>
</configuration>