<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IHostingService" sendTimeout="00:05:00" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="WCF.Services.HostingService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/HostingService"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/HostingService"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHostingService"
            contract="WCF.Contracts.IHostingService" name="BasicHttpBinding_IHostingService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>