<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_ISecurityService">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8084/SecurityService"
          binding="wsHttpBinding" bindingConfiguration="wsHttpBinding_ISecurityService"
          contract="WCF.Security.Contracts.ISecurityService" name="wsHttpBinding_ISecurityService">
        <identity>
          <dns value="DESKTOP-8LJ2DG1"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <defaultCertificate findValue="93c361baa2397a4df7c780c6429031db9d0e9022" 
                                  storeLocation="LocalMachine" 
                                  storeName="TrustedPeople" 
                                  x509FindType="FindByThumbprint"/>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>