<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="NetTcpBinding_IHostingService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8085/HostingService" binding="wsHttpBinding"
                bindingConfiguration="NetTcpBinding_IHostingService" contract="IHostingService"
                name="NetTcpBinding_IHostingService" />
        </client>
    </system.serviceModel>
</configuration>