<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_DIService" />
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="WCF.DependencyInjection.Services.DIService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/DIService" />
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:8080/DIService" 
                  binding="wsHttpBinding" 
                  bindingConfiguration="wsHttpBinding_DIService" 
                  contract="WCF.DependencyInjection.Contracts.IDIService" 
                  name="NetTcpBinding_IDIService" />
        <endpoint address="http://localhost:8080/DIService/mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>