<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="customBinding_ISecurityService">
          <binaryMessageEncoding/>
          <tcpTransport/>
          <security authenticationMode="CertificateOverTransport" requireSecurityContextCancellation="false" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8084/SecurityService"
          binding="customBinding" bindingConfiguration="customBinding_ISecurityService"
          contract="WCF.Security.Contracts.ISecurityService" name="wsHttpBinding_ISecurityService" 
          behaviorConfiguration="ClientCertificateBehavior">
        <identity>
          <dns value="DESKTOP-8LJ2DG1"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <serviceCertificate>
              <defaultCertificate findValue="93c361baa2397a4df7c780c6429031db9d0e9022" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
            <clientCertificate findValue="123123jh213jhg123hj12g3j1h2g3" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>