<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WCF.Security.Services.SecurityService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8084/SecurityService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="wsHttpBinding_ISecurityService"
                  contract="WCF.Security.Contracts.ISecurityService" />
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_ISecurityService">
          <security mode="Message">
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="True"/>
          <!-- the serviceAuthrization behavior sets the principalPermissionMode to UseWindowsGroups
               This puts a WindowsPrincipal on the current thread when a service is invoked. -->
          <serviceAuthorization principalPermissionMode="UseWindowsGroups" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>