<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="WCF.Security.Services.SecurityService" behaviorConfiguration="SecurityServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8084/SecurityService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="wsHttpBinding"
                  bindingConfiguration="wsHttpBinding_ISecurityService"
                  contract="WCF.Security.Contracts.ISecurityService" />
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBinding_ISecurityService">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SecurityServiceBehavior">
          <serviceCredentials>
            <userNameAuthentication
              userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="WCF.Security.PasswordValidator.Selfhost.Infrastructure.PasswordValidator, WCF.Security.PasswordValidator.Selfhost"/>
            <serviceCertificate
              findValue="93c361baa2397a4df7c780c6429031db9d0e9022"
              storeLocation="LocalMachine"
              storeName="My"
              x509FindType="FindByThumbprint"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>