<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICommunicationService" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="WCF.Communicator.Services.CommunicationService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:808/CommunicationService" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:808/CommunicationService"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_ICommunicationService"
                  contract="WCF.Communicator.Contracts.ICommunicationService"
                  name="NetTcpBinding_IHostingService" />
      </service>
    </services>
    <behaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>